@font-face {
    font-family: 'Ooh Baby';
    src: url(../src/resource/fonts/OoohBaby-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}

.sidebar {
    display: grid;
    grid-row: 1 / 3;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -20px 36px -24px inset;
}

.main {
    display: flex;
    justify-content: center;
    align-items: end;
}

.addNote {
    margin: 30px;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

.addNote:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: red;
    transition: 0.3s;
}

.sidebar h2 {
    font-family: 'Ooh Baby', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    color: black;
}